.ingredient-title {
  font-weight: bold;
  background-color: #FFF3D3;
  text-align: center;
  width:fit-content;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: .5%;
  padding-right: .5%;
  width: 50%;
  // padding-top: 0.5%;
  // padding-bottom: 0.5%;
  // border-radius: 3px;
  // border-style: solid;
  // border-color: black;
  // border-width: 1px;
}

.ingredient-tile {
  text-transform: capitalize;
  font-size: 125%;
  width: fit-content;
  margin: 5%;
  margin-bottom: 0;
  padding-left: 2%;
  padding-right: 2%;
  background-color: white;
  border-style: solid;
  border-color: #FFF3D3;
  border-width: 3px;
  opacity: 90%;
  filter: drop-shadow(5px 5px 4px #00000099);
}

.ingredient-tile:hover {
  opacity: 60%;
  transition: .15s;
  transform: scale(1.05);
}

.ingredient-button:hover {
  transition: transform 0.15s;
  transform: scale(1.07);
}
.ingredient-button:focus {
  color:yellowgreen
}

.form-field {
  width: 66%;
  margin: 1%;
}

.form-button {
  margin: 1%;
}