.ingredient-title {
  font-weight: bold;
  font-size: 125%;
  background-color: white;
  text-align: center;
  width:fit-content;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  padding:1%;
  border-style: solid;
  border-color: #6869ad;
  border-width: 5px;;
  border-width: 2px;
  width: 66%;
  filter: drop-shadow(5px 5px 4px #00000099);
}

.ingredient-tile {
  text-transform: capitalize;
  font-size: 100%;
  text-align: center;
  width: 80%;
  height:fit-content;
  margin: 5%;
  padding: 2%;  
  background-color: white;
  border-style: solid;
  border-color: #6869ad;
  border-width: 5px;;
  border-width: 2px;
  opacity: 85%;
  filter: drop-shadow(5px 5px 4px #00000099);
}

.ingredient-tile:hover {
  opacity: 100%;
  transition: .15s;
  transform: scale(1.05);
}

.ingredient-button {
  font-size: 75%;
  padding: 2%;
}

.ingredient-button:hover {
  background-color: azure;
  cursor: pointer;
}
.ingredient-button:focus {
  color: #688cad;
}

.form-field {
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

.form-button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}