@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import "./ingredient.scss";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Raleway&display=swap');
// place global css here

body {
  background-color: azure;
  color: #112a46;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
