@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import "./ingredient.scss";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Raleway&display=swap');
@import "./topBar.scss";
// place global css here

body {
  background-color: azure;
  // background-image: url(https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=830&q=80;);
  color: #112a46;
}

p {
  text-transform: capitalize;
  font-size: 125%;
  margin-bottom: 0;
}

.home-page {
  background-image: url(https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}

.container {
  margin: 1%;
  padding: 1%;
  background-color: #6869ad;
  width: 30%;
  // margin: 5%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
