.red-tab {
  background-color: #ff4500;
  opacity: 60%;
  margin-left: 1%;
  margin-right: 1%;
}

.green-tab {
  background-color: seagreen;
  opacity: 60%;
  margin-left: 1%;
  margin-right: 1%;
}

.blue-tab {
  background-color: royalblue;
  opacity: 60%;
  margin-left: 1%;
  margin-right: 1%;
}

.border {
  border-style: solid;
  border-color: #FFF3D3;
  border: 2px;
}